<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    google maps
  </h1>
  <agm-map 
    [latitude]= "lat" 
    [longitude]="lng"  
    [zoom]="zoom"
    (mapClick)=" getDestination($event)">
      <agm-direction 
      [renderOptions]="renderOptions" 
      [markerOptions]="markerOptions"
        [origin]="origin" 
        [destination]="destination">
      </agm-direction>
  </agm-map>
  <h3> {{indication}}</h3>
  <button (click)='getDirection()'> start </button>
 
